<div class='admin-content'>

<form method='post' action='<%= admin_send_reset_password_email_path %>' style='margin: 20px 0'>
  <h1>Reset Password</h1>
  <div class='form-group'>
    <label for='login'>Username or Email Address</label>
    <input type='text' name='login' id='login' class='form-control' style='width: 300px' autofocus>
  </div>
  <div>
    <button type='submit' class='btn btn-primary'>Send Reset Instructions</button>
  </div>
</form>

</div>
