<div class='admin-content'>

<form method='post' style='margin: 20px 0'>
  <div class='form-group'>
    <label for='password'>New Password</label>
    <input type='password' name='password' id='password' class='form-control' style='width: 300px' autofocus>
  </div>
  <div>
    <button type='submit' class='btn btn-primary'>Update Password</button>
  </div>
</form>

</div>
