development:
  admin:
    username: USERNAME
    password: PASSWORD
  api:
    request_secret: SECRET
  app_name: Snap Crackle Pop
  app_name_short: Snap Crackle Pop
  aws:
    access_key_id: KEY
    secret_access_key: SECRET
    bucket_name: MEDIA.SOMETHING.COM
  carrierwave:
    cache_dir: ~
    cdn_url: ~
    convert_bin: '/usr/local/bin/convert'
    ffmpeg_bin: '/usr/local/bin/ffmpeg'
  client:
    config_prefix: snap
  facebook:
    app_access_token: TOKEN
  faye:
    url: https://local.snap.io:8080/faye
    server_secret: SECRET
  hook:
    passcode: PASSCODE
    invite_from: PHONE_NUMBER
  mixpanel:
    token: TOKEN
    group_token: GROUP_TOKEN
  rpush:
    db_ios_app_name: snap_ios
    db_android_app_name: snap_android
  redis:
    persisted:
      host: 127.0.0.1
      port: 6384
      db: 0
  sendgrid:
    username: USERNAME
    password: PASSWORD
    domain: snap.io
  statsd:
    server: 'ec2-54-188-154-120.us-west-2.compute.amazonaws.com:8125'
    prefix: snap
  web:
    domain: localhost:3001
    url: http://localhost:3001

test:
  admin:
    username: USERNAME
    password: PASSWORD
  api:
    request_secret: SECRET
  app_name: Snap Crackle Pop
  app_name_short: Snap Crackle Pop
  aws:
    access_key_id: KEY
    secret_access_key: SECRET
    bucket_name: MEDIA.SOMETHING.COM
  carrierwave:
    cache_dir: ~
    cdn_url: ~
    convert_bin: '/usr/local/bin/convert'
    ffmpeg_bin: '/usr/local/bin/ffmpeg'
  client:
    config_prefix: snap
  facebook:
    app_access_token: TOKEN
  faye:
    url: https://local.snap.io:8080/faye_TEST
    server_secret: SECRET
  hook:
    passcode: 'invalid'
    invite_from: 'invalid'
  mixpanel:
    token: TOKEN
    group_token: GROUP_TOKEN
  rpush:
    db_ios_app_name: ~
    db_android_app_name: ~
  redis:
    persisted:
      host: 127.0.0.1
      port: 6381
      db: 10
  sendgrid:
    username: USERNAME
    password: PASSWORD
    domain: snap.io
  statsd:
    server: 'ec2-54-188-154-120.us-west-2.compute.amazonaws.com:8125'
    prefix: snap
  web:
    domain: test.host
    url: http://test.host
