development:
  aws:
    access_key_id: KEY
    secret_access_key: SECRET
    bucket_name: MEDIA.SOMETHING.COM
  carrierwave:
    cache_dir: ~
    cdn_url: ~
    convert_bin: '/usr/local/bin/convert'
    ffmpeg_bin: '/usr/local/bin/ffmpeg'
  faye:
    url: https://local.skymob.co:8080/faye
    server_secret: SECRET
  rapns:
    db_ios_app_name: skymob_ios
  redis:
    persisted:
      host: 127.0.0.1
      port: 6380
      db: 0
    cache:
      host: 127.0.0.1
      port: 6380
      db: 1
  sendgrid:
    username: USERNAME
    password: PASSWORD
  web:
    domain: localhost:3001
    url: http://localhost:3001

test:
  assets:
    url: http://test.assets
  aws:
    access_key_id: KEY
    secret_access_key: SECRET
    bucket_name: MEDIA.SOMETHING.COM
  carrierwave:
    cache_dir: ~
    cdn_url: ~
    convert_bin: '/usr/local/bin/convert'
    ffmpeg_bin: '/usr/local/bin/ffmpeg'
  faye:
    url: https://local.skymob.co:8080/faye_TEST
    server_secret: SECRET
  rapns:
    db_ios_app_name: ~
  redis:
    persisted:
      host: 127.0.0.1
      port: 6380
      db: 10
    cache:
      host: 127.0.0.1
      port: 6380
      db: 11
  sendgrid:
    username: USERNAME
    password: PASSWORD
  web:
    domain: test.host
    url: http://test.host
