development:
  adapter: mysql2
  encoding: utf8
  database: chat_app_dev
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock

test:
  adapter: mysql2
  encoding: utf8
  database: chat_app_test
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock
